[Desktop Entry]
Type=Application
Name=Files
GenericName=File Manager
Comment=Karthi's OS file explorer
Exec=adaptive-files %U
Icon=adaptive-files
Terminal=false
Categories=System;FileManager;Utility;
MimeType=inode/directory;
StartupNotify=true
